<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbcy.authcenter.api.modules.minor.todo.dao.UserTodoMapper">
    <resultMap id="BaseResultMap" type="com.hbcy.authcenter.api.modules.minor.todo.model.UserTodo">
        <!--@mbg.generated-->
        <!--@Table user_todo-->
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="src_app" jdbcType="VARCHAR" property="srcApp"/>
        <result column="src_id" jdbcType="VARCHAR" property="srcId"/>
        <result column="todo_title" jdbcType="VARCHAR" property="todoTitle"/>
        <result column="todo_content" jdbcType="VARCHAR" property="todoContent"/>
        <result column="target_user" jdbcType="CHAR" property="targetUser"/>
        <result column="send_time" jdbcType="TIMESTAMP" property="sendTime"/>
        <result column="process_state" jdbcType="TINYINT" property="processState"/>
        <result column="view_state" jdbcType="TINYINT" property="viewState"/>
        <result column="todo_type" jdbcType="TINYINT" property="todoType"/>
        <result column="relate_link" jdbcType="VARCHAR" property="relateLink"/>
        <result column="origin_json" jdbcType="LONGVARCHAR" property="originJson"/>
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, src_app, src_id, todo_title, todo_content, target_user, send_time,
        process_state, view_state, todo_type, relate_link, origin_json, tenant_id, create_time, update_time
    </sql>

    <!--    TODO: MySQL Only-->
    <insert id="insertIgnore">
        insert ignore into user_todo (id, src_app, src_id, todo_title, todo_content, target_user,
        send_time, process_state, todo_type, relate_link, origin_json, tenant_id, initiator_id, urge_flag)
        values
        <foreach collection="todos" item="todo" separator=",">
            (#{todo.id}, #{todo.srcApp}, #{todo.srcId}, #{todo.todoTitle}, #{todo.todoContent},
            #{todo.targetUser}, #{todo.sendTime}, #{todo.processState}, #{todo.todoType}, #{todo.relateLink},
            #{todo.originJson}, #{todo.tenantId}, #{todo.initiatorId}, #{todo.urgeFlag})
        </foreach>
    </insert>

    <select id="query4user" resultType="com.hbcy.authcenter.api.modules.minor.todo.dto.UserTodoDTO">
        select id,
        src_app,
        todo_title,
        todo_content,
        send_time,
        create_time,
        view_state,
        process_state,
        todo_type,
        relate_link,
        urge_flag
        from user_todo
        <where>
            target_user = #{vo.userId}
            <if test="vo.listType == 'initiated'">
                and initiator_id = #{vo.userId}
            </if>
            <if test="vo.listType != null and vo.listType != '' and vo.listType != 'initiated'">
                <if test="vo.processState != null">
                    and process_state = #{vo.processState}
                </if>
            </if>
            <if test="vo.listType == null or vo.listType == ''">
                <if test="vo.processState != null">
                    and process_state = #{vo.processState}
                </if>
            </if>
            <if test="vo.keyword != null and vo.keyword != ''">
                and (todo_title like concat('%', #{vo.keyword}, '%')
                or todo_content like concat('%', #{vo.keyword}, '%'))
            </if>
            <if test="vo.todoType != null">
                and todo_type = #{vo.todoType}
            </if>
            <if test="vo.viewState != null">
                and view_state = #{vo.viewState}
            </if>
            <if test="vo.sendTimeStart != null">
                and send_time &gt;= #{vo.sendTimeStart}
            </if>
            <if test="vo.sendTimeEnd != null">
                and #{vo.sendTimeEnd} &gt;= send_time
            </if>
            <if test="vo.srcApp != null and vo.srcApp.size() > 0">
                and src_app in
                <foreach item="a" collection="vo.srcApp" separator="," open="(" close=")">
                    #{a}
                </foreach>
            </if>
        </where>
        <choose>
            <when test="vo.listType == 'myTodo'">
                order by urge_flag desc, create_time asc
            </when>
            <otherwise>
                order by send_time desc
            </otherwise>
        </choose>
    </select>

    <select id="listTodo" resultType="com.hbcy.authcenter.api.modules.minor.todo.dto.TodoDTO">
        select td.id,
        td.src_id,
        td.src_app,
        td.todo_title,
        td.todo_content,
        td.target_user,
        td.send_time,
        td.process_state,
        td.view_state,
        td.todo_type,
        td.relate_link,
        td.origin_json,
        td.create_time,
        td.update_time
        from user_todo td
        join user_org uo on td.target_user = uo.user_id
        <where>
            uo.org_id in
            <foreach item="orgId" collection="vo.searchOrgIds" separator="," close=")" open="(" index="">
                #{orgId}
            </foreach>
            <if test="vo.processState != null">
                and td.process_state = #{vo.processState}
            </if>
            <if test="vo.viewState != null">
                and td.view_state = #{vo.viewState}
            </if>
            <if test="vo.keyword != null and vo.keyword != ''">
                and (td.todo_title like concat('%', #{vo.keyword}, '%')
                or td.todo_content like concat('%', #{vo.keyword}, '%'))
            </if>
            <if test="vo.todoType != null">
                and td.todo_type = #{vo.todoType}
            </if>
            <if test="vo.srcApp != null and vo.srcApp.size() > 0">
                and td.src_app in
                <foreach item="a" collection="vo.srcApp" separator="," open="(" close=")">
                    #{a}
                </foreach>
            </if>
            <if test="vo.sendTimeStart != null">
                and td.send_time &gt;= #{vo.sendTimeStart}
            </if>
            <if test="vo.sendTimeEnd != null">
                and #{vo.sendTimeEnd} &gt;= td.send_time
            </if>
        </where>
        order by td.send_time desc
    </select>

    <select id="listDistinctSrcApp" resultType="java.lang.String">
        select distinct td.src_app
        from user_todo td
        join user_org uo on td.target_user = uo.user_id
        where uo.org_id in
        <foreach item="orgId" collection="orgIds" separator="," open="(" close=")">
            #{orgId}
        </foreach>
        and td.src_app is not null and td.src_app != ''
        order by td.src_app
    </select>
</mapper>