<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbcy.authcenter.api.modules.core.tenant.dao.TenantAppMapper">
    <resultMap id="BaseResultMap" type="com.hbcy.authcenter.api.modules.core.tenant.model.TenantApp">
        <!--@mbg.generated-->
        <!--@Table tenant_app-->
        <id column="id" property="id"/>
        <result column="app_id" property="appId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="org_tree" property="orgTree"/>
        <result column="grant_all" property="grantAll"/>
        <result column="forbidden" property="forbidden"/>
        <result column="delete_time" property="deleteTime"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        app_id,
        tenant_id,
        org_tree,
        grant_all,
        forbidden,
        delete_time,
        create_time,
        update_time,
        create_user,
        update_user
    </sql>

    <select id="listGrantApps" resultType="com.hbcy.authcenter.api.modules.core.app.dto.GrantAppDTO">
        select tenant_app.id as grant_id,
        app.id as app_id,
        app.icon,
        app.name_cn,
        app.memo,
        tenant_app.forbidden,
        tenant_app.create_user,
        tenant_app.create_time
        from app
        join tenant_app on tenant_app.app_id = app.id
        <where>
            and tenant_app.tenant_id = #{tenantId}
            and tenant_app.delete_time = 0
            and app.delete_time = 0
        </where>
        order by app.show_order
    </select>

    <update id="switchAppStatus">
        update tenant_app
        set forbidden = #{status},
        update_user=#{updateUser}
        where app_id = #{appId}
        and delete_time = 0
        <if test="status == 0">
            and tenant_id in (select tenant_id from tenant where tenant.delete_time = 0 and tenant.forbidden = 0)
        </if>
    </update>

    <update id="switchTenantStatus">
        update tenant_app
        set forbidden = #{status},
        update_user=#{updateUser}
        where tenant_id = #{tenantId}
        and delete_time = 0
        <if test="status == 0">
            and app_id in (select app_id from app where app.delete_time = 0 and app.forbidden = 0)
        </if>
    </update>

    <!--    TODO: MySQL only-->
    <insert id="insertIgnore">
        insert ignore into tenant_app (id, app_id, tenant_id, org_tree, grant_all, create_user, update_user)
        values
        <foreach collection="tenantApps" item="tenantApp" separator=",">
            (#{tenantApp.id},#{tenantApp.appId}, #{tenantApp.tenantId}, #{tenantApp.orgTree}, 1,
            #{tenantApp.createUser}, #{tenantApp.updateUser})
        </foreach>
    </insert>
</mapper>

