<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbcy.authcenter.api.modules.core.user.dao.UserOrgMapper">
    <resultMap id="BaseResultMap" type="com.hbcy.authcenter.api.modules.core.user.model.UserOrg">
        <!--@mbg.generated-->
        <!--@Table user_org-->
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="user_id" jdbcType="CHAR" property="userId"/>
        <result column="org_id" jdbcType="VARCHAR" property="orgId"/>
        <result column="node_id" jdbcType="VARCHAR" property="nodeId"/>
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId"/>
        <result column="create_user" jdbcType="CHAR" property="createUser"/>
        <result column="update_user" jdbcType="CHAR" property="updateUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        user_id,
        org_id,
        node_id,
        tenant_id,
        create_user,
        update_user,
        create_time,
        update_time
    </sql>

    <select id="listUserOrgs" resultType="com.hbcy.authcenter.api.modules.core.user.dto.UserOrgDTO">
        with temp as (
        select user_id, org_id, main_job
        from user_org
        <where>
            <if test="onlyMain">
                and main_job = 1
            </if>
            and user_id in
            <foreach collection="userIds" open="(" close=")" separator="," item="uid">
                #{uid}
            </foreach>
            group by user_id, org_id, main_job
        </where>
        )
        select temp.user_id,
        temp.org_id,
        temp.main_job,
        o.forbidden as org_forbidden,
        o.node_name as org_name,
        o.id_path,
        o.node_category
        from temp
        join org_tree o on temp.org_id = o.id
        <where>
            <if test="forbidden != null">
                o.forbidden = #{forbidden}
            </if>
        </where>
    </select>

    <select id="listUserOrgNodes" resultType="com.hbcy.authcenter.api.modules.core.user.dto.UserOrgDTO">
        select uo.user_id,
        uo.org_id,
        uo.node_id,
        uo.main_job,
        o.node_name as org_name,
        o.forbidden as org_forbidden,
        o.id_path,
        o.node_category
        from user_org uo
        join org_tree o on uo.node_id = o.id
        <where>
            user_id in
            <foreach collection="userIds" open="(" close=")" separator="," item="uid">
                #{uid}
            </foreach>
            <if test="onlyMain">
                and main_job = 1
            </if>
        </where>
    </select>

    <update id="updateMainJob">
        update user_org
        set main_job=1
        where user_id = #{userId}
        and org_id = #{orgId}
    </update>

    <update id="updatePartJob">
        update user_org
        set main_job=0
        where user_id = #{userId}
        and org_id != #{orgId}
        and main_job = 1
    </update>

    <select id="listAllOrg" resultType="java.lang.String">
        select distinct org_id
        from user_org
        where user_id = #{userId}
    </select>

    <select id="queryMainOrg" resultType="java.lang.String">
        select org_id
        from user_org uo
        join org_tree o on uo.org_id = o.id
        where uo.user_id = #{userId}
        and uo.main_job = 1
        and o.forbidden = 0
        limit 1
    </select>

    <!--    TODO: MySQL Only-->
    <insert id="insertIgnore">
        insert ignore into user_org (id, user_id, org_id, node_id, tenant_id, main_job, create_user, update_user)
        values
        <foreach collection="userOrgs" item="userOrg" separator=",">
            (#{userOrg.id}, #{userOrg.userId},
            #{userOrg.orgId}, #{userOrg.nodeId},
            #{userOrg.tenantId}, #{userOrg.mainJob},
            #{userOrg.createUser}, #{userOrg.updateUser})
        </foreach>
    </insert>
</mapper>