<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbcy.authcenter.api.modules.core.user.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.hbcy.authcenter.api.modules.core.user.model.User">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="passwd" jdbcType="VARCHAR" property="passwd"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="forbidden" jdbcType="TINYINT" property="forbidden"/>
        <result column="wecom_id" jdbcType="VARCHAR" property="wecomId"/>
        <result column="src_type" jdbcType="TINYINT" property="srcType"/>
        <result column="src_id" jdbcType="VARCHAR" property="srcId"/>
        <result column="passwd_expire" jdbcType="TIMESTAMP" property="passwdExpire"/>
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId"/>
        <result column="default_org" jdbcType="VARCHAR" property="defaultOrg"/>
        <result column="delete_time" jdbcType="BIGINT" property="deleteTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_user" jdbcType="CHAR" property="createUser"/>
        <result column="update_user" jdbcType="CHAR" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        phone,
        account,
        real_name,
        passwd,
        email,
        avatar,
        forbidden,
        wecom_id,
        src_type,
        src_id,
        passwd_expire,
        tenant_id,
        default_org,
        delete_time,
        create_time,
        update_time,
        create_user,
        update_user
    </sql>


    <select id="selectNameByIds" resultType="com.hbcy.common.web.api.NamedId">
        select id as item_id, real_name as item_name
        from sys_user
        <where>
            id in
            <foreach collection="uids" open="(" close=")" item="u" separator=",">
                #{u}
            </foreach>
        </where>
    </select>

    <select id="selectNameById" resultType="java.lang.String">
        select real_name
        from sys_user
        where id = #{userId}
    </select>

    <select id="queryUser" resultType="com.hbcy.authcenter.api.modules.core.user.dto.UserQueryResultDTO">
        select u.id,
        u.phone,
        u.account,
        u.real_name,
        u.email,
        u.avatar,
        u.forbidden,
        u.default_org
        from sys_user u
        join user_org uo on uo.user_id = u.id
        join org_tree o on uo.org_id = o.id
        <where>
            <if test="vo.tenantId != null and vo.tenantId != ''">
                uo.tenant_id = #{vo.tenantId}
            </if>
            <if test="vo.keywordType != null and !vo.keywordType.empty">
                <if test="vo.keywordType.contains('EMAIL')">
                    and u.email like concat('%', #{vo.keyword}, '%')
                </if>
                <if test="vo.keywordType.contains('PHONE')">
                    and u.phone like concat(#{vo.keyword}, '%')
                </if>
                <if test="vo.keywordType.contains('ACCOUNT')">
                    and u.account like concat(#{vo.keyword}, '%')
                </if>
                <if test="vo.keywordType.contains('NAME')">
                    and u.real_name like concat(#{vo.keyword}, '%')
                </if>
            </if>
            <if test="vo.forbidden != null">
                and u.forbidden= #{vo.forbidden}
            </if>
            <if test="vo.email != null and !vo.email.blank">
                and u.email like concat('%', #{vo.email}, '%')
            </if>
            <if test="vo.phone != null and !vo.phone.blank">
                and u.phone like concat(#{vo.phone}, '%')
            </if>
            <if test="vo.account != null and !vo.account.blank">
                and u.account like concat(#{vo.account}, '%')
            </if>
            <if test="vo.name != null and !vo.name.blank">
                and u.real_name like concat(#{vo.name}, '%')
            </if>
            <if test="vo.orgId != null and vo.orgId != ''">
                and uo.org_id = #{vo.orgId}
            </if>
            <if test="vo.idPathPrefix != null and vo.idPathPrefix != ''">
                and o.id_path like concat(#{vo.idPathPrefix}, '%')
            </if>
            <if test="vo.userId != null and vo.userId != ''">
                and uo.user_id = #{vo.userId}
            </if>
        </where>
        order by u.real_name
    </select>
</mapper>