<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbcy.authcenter.api.modules.core.auth.dao.UserAccessMapper">
  <resultMap id="BaseResultMap" type="com.hbcy.authcenter.api.modules.core.auth.model.UserAccess">
    <!--@mbg.generated-->
    <!--@Table user_access-->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="key_name" jdbcType="VARCHAR" property="keyName" />
    <result column="access_key" jdbcType="CHAR" property="accessKey" />
    <result column="secret_key" jdbcType="VARCHAR" property="secretKey" />
    <result column="forbidden" jdbcType="TINYINT" property="forbidden" />
    <result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, key_name, access_key, secret_key, forbidden, expire_time, user_id, tenant_id, 
    create_time, update_time
  </sql>
</mapper>