<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbcy.authcenter.api.modules.core.perm.dao.PermUnitUserMapper">
    <resultMap id="BaseResultMap" type="com.hbcy.authcenter.api.modules.core.perm.model.PermUnitUser">
        <!--@mbg.generated-->
        <!--@Table perm_unit_user-->
        <id column="id" property="id"/>
        <result column="unit_id" property="unitId"/>
        <result column="user_id" property="userId"/>
        <result column="org_id" property="orgId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="forbidden" property="forbidden"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        unit_id,
        user_id,
        org_id,
        tenant_id,
        forbidden,
        create_user,
        update_user,
        create_time,
        update_time
    </sql>

    <select id="listFilteredPerms" resultType="com.hbcy.authcenter.api.modules.core.app.dto.ResPermDTO">
        select distinct rp.id,
        rp.app_id,
        rp.res_id,
        rp.perm_name,
        rp.perm_code
        from perm_unit_user puu
        join perm_unit_resource pur on puu.unit_id = pur.unit_id
        join resource_perm rp on pur.perm_id = rp.id
        join org_tree ot on puu.org_id = ot.id
        <where>
            puu.user_id = #{userId}
            and puu.tenant_id = #{tenantId}
            and ot.id_path like concat(#{orgIdPath}, '%')
            and pur.app_id = #{appId}
            and puu.forbidden=0
        </where>
    </select>

    <select id="listPermInfo" resultType="com.hbcy.authcenter.api.modules.core.app.dto.ResPermDTO">
        select rp.id,
        rp.app_id,
        rp.res_id,
        rp.perm_name,
        rp.perm_code
        from resource_perm rp
        <where>
            rp.id in
            <foreach collection="permIds" open="(" close=")" item="item" separator=",">
                #{item}
            </foreach>
        </where>
    </select>

    <!--    TODO：仅MySQL适用，需适配其他数据库-->
    <insert id="insertIgnore">
        insert ignore into perm_unit_user
        (id, unit_id, user_id, org_id, tenant_id, create_user, update_user)
        values
        <foreach collection="list" item="u" separator=",">
            (#{u.id}, #{u.unitId}, #{u.userId}, #{u.orgId},
            #{u.tenantId}, #{u.createUser}, #{u.updateUser})
        </foreach>
    </insert>

    <select id="listGrantUsers" resultType="com.hbcy.authcenter.api.modules.core.perm.dto.UnitUserDTO">
        select puu.id as grant_id,
        puu.user_id,
        u.account,
        u.real_name as user_name,
        puu.org_id,
        ot.node_name as org_name,
        puu.create_time,
        puu.create_user
        from perm_unit_user puu
        join sys_user u on puu.user_id = u.id
        join org_tree ot on puu.org_id = ot.id
        where puu.unit_id = #{vo.unitId}
        <if test="vo.keyword != null and vo.keyword != ''">
            and u.real_name like concat('%', #{vo.keyword}, '%')
        </if>
    </select>

    <select id="listGrantApps" resultType="com.hbcy.authcenter.api.modules.core.app.dto.GrantAppDTO">
        select distinct app.id as app_id,
        app.name_cn,
        app.memo,
        app.icon,
        tenant_app.forbidden,
        tenant_app.id as grant_id,
        tenant_app.create_user,
        tenant_app.create_time
        from app
        join perm_unit_resource pur on app.id = pur.app_id
        join perm_unit_user puu on puu.unit_id = pur.unit_id
        join tenant_app on (app.id = tenant_app.app_id and tenant_app.tenant_id = puu.tenant_id)
        <where>
            tenant_app.delete_time = 0
            <if test="!withForbidden">
                and tenant_app.forbidden = 0
            </if>
            and puu.user_id = #{userId}
            and puu.org_id = #{orgId}
            and puu.forbidden = 0
        </where>
        order by app.show_order
    </select>

    <select id="listUserPerms" resultType="java.lang.String">
        select distinct pur.perm_id
        from perm_unit_user puu
        join perm_unit_resource pur on puu.unit_id = pur.unit_id
        join org_tree ot on puu.org_id = ot.id
        <where>
            puu.forbidden = 0
            and puu.user_id = #{userId}
            and ot.id_path like concat(#{orgIdPath}, '%')
            and ot.delete_time = 0
        </where>
    </select>

    <select id="listUserRes" resultType="java.lang.String">
        select distinct rp.res_id
        from perm_unit_user puu
        join perm_unit_resource pur on puu.unit_id = pur.unit_id
        join resource_perm rp on rp.id = pur.perm_id
        join org_tree ot on puu.org_id = ot.id
        <where>
            puu.user_id = #{userId}
            and ot.id_path like concat(#{orgIdPath}, '%')
            and puu.forbidden = 0
        </where>
    </select>

    <select id="hasPerm" resultType="int">
        select count(*)
        from perm_unit_resource pur
        join perm_unit_user puu on puu.unit_id = pur.unit_id
        where puu.user_id = #{userId}
        and puu.org_id = #{orgId}
        and puu.forbidden = 0
        and pur.perm_id in
        <foreach item="item" collection="permIds" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <delete id="batchDelete">
        delete
        from perm_unit_user
        <where>
            tenant_id = #{tenantId}
            and unit_id in
            <foreach collection="vo.unitIdList" item="item" separator="," open="(" close=")">
                #{item}
            </foreach>
            and
            <foreach collection="vo.userList" item="u" separator=" or ">
                (user_id = #{u.userId} and org_id = #{u.orgId})
            </foreach>
        </where>
    </delete>

    <select id="listUserUnits" resultType="com.hbcy.authcenter.api.modules.core.perm.dto.UserUnitDTO">
        select puu.id as grant_id,
        puu.user_id,
        puu.unit_id,
        pu.name_cn as unit_name,
        pu.forbidden,
        puu.org_id,
        ot.node_name as org_name,
        puu.create_user,
        puu.create_time
        from perm_unit_user puu
        join perm_unit pu on puu.unit_id = pu.id
        join org_tree ot on puu.org_id = ot.id
        <where>
            puu.user_id = #{vo.userId}
            and puu.tenant_id = #{vo.tenantId}
            <if test="vo.orgId != null and vo.orgId != ''">
                and puu.org_id = #{vo.orgId}
            </if>
            <if test="vo.unitId != null and vo.unitId != ''">
                and puu.unit_id = #{vo.unitId}
            </if>
        </where>
    </select>
</mapper>