<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbcy.authcenter.api.modules.core.perm.dao.PermUnitMapper">
    <resultMap id="BaseResultMap" type="com.hbcy.authcenter.api.modules.core.perm.model.PermUnit">
        <!--@mbg.generated-->
        <!--@Table perm_unit-->
        <id column="id" property="id"/>
        <result column="name_cn" property="nameCn"/>
        <result column="policy_model" property="policyModel"/>
        <result column="belong_to" property="belongTo"/>
        <result column="memo" property="memo"/>
        <result column="forbidden" property="forbidden"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_time" property="deleteTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        name_cn,
        policy_model,
        belong_to,
        memo,
        forbidden,
        tenant_id,
        create_user,
        update_user,
        create_time,
        update_time,
        delete_time
    </sql>

    <select id="listPermUnit" resultMap="BaseResultMap">
        select pu.id,
               pu.name_cn,
               pu.policy_model,
               pu.belong_to,
               pu.memo,
               pu.forbidden,
               pu.tenant_id,
               pu.create_user,
               pu.update_user,
               pu.create_time,
               pu.update_time
        from perm_unit pu
                 join perm_tree pt on pu.belong_to = pt.id
        <where>
            pt.delete_time = 0
              and pu.delete_time = 0
              and pt.tenant_id = #{vo.tenantId}
            <if test="vo.name != null and vo.name != ''">
                and pu.name_cn like concat('%', #{vo.name}, '%')
            </if>
            <if test="vo.belongTo != null and vo.belongTo != ''">
                and pu.belong_to = #{vo.belongTo}
            </if>
            <if test="vo.groupIdPath != null and vo.groupIdPath != ''">
                and pt.id_path like concat(#{vo.groupIdPath}, '%')
            </if>
            <if test="vo.forbidden != null">
                and pu.forbidden = #{vo.forbidden}
            </if>
        </where>
    </select>
</mapper>