<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbcy.authcenter.api.modules.core.app.dao.ResourceTreeMapper">
    <resultMap id="BaseResultMap" type="com.hbcy.authcenter.api.modules.core.app.model.ResourceTree">
        <!--@mbg.generated-->
        <!--@Table resource_tree-->
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="name_cn" jdbcType="VARCHAR" property="nameCn"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="custom_id" jdbcType="VARCHAR" property="customId"/>
        <result column="parent_id" jdbcType="CHAR" property="parentId"/>
        <result column="id_path" jdbcType="VARCHAR" property="idPath"/>
        <result column="client_type" jdbcType="TINYINT" property="clientType"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="route_link" jdbcType="VARCHAR" property="routeLink"/>
        <result column="show_order" jdbcType="INTEGER" property="showOrder"/>
        <result column="hidden" jdbcType="TINYINT" property="hidden"/>
        <result column="forbidden" jdbcType="TINYINT" property="forbidden"/>
        <result column="show_level" jdbcType="TINYINT" property="showLevel"/>
        <result column="sub_dom" jdbcType="INTEGER" property="subDom"/>
        <result column="obj_dom" jdbcType="VARCHAR" property="objDom"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_user" jdbcType="CHAR" property="createUser"/>
        <result column="update_user" jdbcType="CHAR" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        name_cn,
        app_id,
        custom_id,
        parent_id,
        id_path,
        client_type,
        icon,
        route_link,
        show_order,
        hidden,
        forbidden,
        show_level,
        sub_dom,
        obj_dom,
        create_time,
        update_time,
        create_user,
        update_user
    </sql>

    <select id="listChildrenRecursively" resultMap="BaseResultMap">
        WITH RECURSIVE recusive_resource_tree AS (
        select
        <include refid="Base_Column_List"/>
        from resource_tree
        where parent_id = #{parentId}
        and app_id = #{appId}

        UNION ALL
        select r.*
        from resource_tree r
        inner join recusive_resource_tree rr on r.parent_id = rr.id
        )
        select
        <include refid="Base_Column_List"/>
        from recusive_resource_tree;
    </select>
</mapper>