<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbcy.authcenter.api.modules.core.app.dao.ResourcePermMapper">
    <resultMap id="BaseResultMap" type="com.hbcy.authcenter.api.modules.core.app.model.ResourcePerm">
        <!--@mbg.generated-->
        <!--@Table resource_perm-->
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="app_id" jdbcType="CHAR" property="appId"/>
        <result column="res_id" jdbcType="CHAR" property="resId"/>
        <result column="required" jdbcType="TINYINT" property="required"/>
        <result column="perm_name" jdbcType="VARCHAR" property="permName"/>
        <result column="perm_code" jdbcType="VARCHAR" property="permCode"/>
        <result column="api_method" jdbcType="TINYINT" property="apiMethod"/>
        <result column="api_path" jdbcType="VARCHAR" property="apiPath"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_user" jdbcType="CHAR" property="createUser"/>
        <result column="update_user" jdbcType="CHAR" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, app_id, res_id, required, perm_name, perm_code, api_method, api_path, create_time,
        update_time, create_user, update_user
    </sql>

    <select id="filterAppPermIds" resultType="java.lang.String">
        select id
        from resource_perm
        where app_id=#{appId} and id in
        <foreach collection="supplyIds" open="(" close=")" separator="," item="sid">
            #{sid}
        </foreach>
    </select>
</mapper>