<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbcy.authcenter.api.modules.core.app.dao.ResourcePermMapper">
    <resultMap id="BaseResultMap" type="com.hbcy.authcenter.api.modules.core.app.model.ResourcePerm">
        <!--@mbg.generated-->
        <!--@Table resource_perm-->
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="app_id" jdbcType="CHAR" property="appId"/>
        <result column="res_id" jdbcType="CHAR" property="resId"/>
        <result column="perm_name" jdbcType="VARCHAR" property="permName"/>
        <result column="perm_code" jdbcType="VARCHAR" property="permCode"/>
        <result column="api_method" jdbcType="TINYINT" property="apiMethod"/>
        <result column="api_path" jdbcType="VARCHAR" property="apiPath"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_user" jdbcType="CHAR" property="createUser"/>
        <result column="update_user" jdbcType="CHAR" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        app_id,
        res_id,
        perm_name,
        perm_code,
        api_method,
        api_path,
        create_time,
        update_time,
        create_user,
        update_user
    </sql>

    <select id="filterAppPermIds" resultType="java.lang.String">
        select id
        from resource_perm
        where app_id = #{appId}
        and id in
        <foreach collection="supplyIds" open="(" close=")" separator="," item="sid">
            #{sid}
        </foreach>
    </select>

    <select id="listAppPermIds" resultType="java.lang.String">
        select id
        from resource_perm
        where app_id = #{appId}
    </select>

    <select id="listAppsPermIds" resultType="java.lang.String">
        select id
        from resource_perm
        where app_id in
        <foreach collection="appIds" open="(" close=")" separator="," item="sid">
            #{sid}
        </foreach>
    </select>

    <select id="select4Gateway" resultType="com.hbcy.authcenter.gateway.dto.ApiPermDTO">
        select id as perm_id,
        api_method,
        api_path,
        app_id
        from resource_perm
        <where>
            <if test="appId != null and appId != ''">
                app_id = #{appId}
            </if>
        </where>
    </select>

    <select id="listAppPerms" resultType="com.hbcy.authcenter.api.modules.core.app.dto.ResPermDTO">
        select rp.id,
        rp.app_id,
        rp.res_id,
        rp.perm_name,
        rp.perm_code,
        rp.api_method,
        rp.api_path
        from resource_perm rp
        where app_id = #{appId}
    </select>

    <select id="getPermResIdPaths" resultType="java.lang.String">
        select rt.id_path
        from resource_tree rt join resource_perm rp on rt.id=rp.res_id
        <where>
            rp.id in
            <foreach collection="permIds" open="(" item="item" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </select>
</mapper>