<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbcy.authcenter.modules.sys.dict.dao.SysDictMapper">
  <resultMap id="BaseResultMap" type="com.hbcy.authcenter.modules.sys.dict.model.SysDict">
    <!--@mbg.generated-->
    <!--@Table sys_dict-->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="feat_code" jdbcType="VARCHAR" property="featCode" />
    <result column="value_str" jdbcType="VARCHAR" property="valueStr" />
    <result column="value_cn" jdbcType="VARCHAR" property="valueCn" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="show_order" jdbcType="INTEGER" property="showOrder" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, feat_code, value_str, value_cn, parent_id, show_order, create_time, update_time
  </sql>
</mapper>