<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbcy.authcenter.api.modules.minor.inbox.dao.UserInboxMapper">
  <resultMap id="BaseResultMap" type="com.hbcy.authcenter.api.modules.minor.inbox.model.UserInbox">
    <!--@mbg.generated-->
    <!--@Table user_inbox-->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="src_id" jdbcType="VARCHAR" property="srcId" />
    <result column="src_app" jdbcType="VARCHAR" property="srcApp" />
    <result column="src_user" jdbcType="VARCHAR" property="srcUser" />
    <result column="msg_title" jdbcType="VARCHAR" property="msgTitle" />
    <result column="msg_content" jdbcType="VARCHAR" property="msgContent" />
    <result column="target_user" jdbcType="CHAR" property="targetUser" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="view_status" jdbcType="TINYINT" property="viewStatus" />
    <result column="msg_type" jdbcType="TINYINT" property="msgType" />
    <result column="relate_link" jdbcType="VARCHAR" property="relateLink" />
    <result column="origin_json" jdbcType="LONGVARCHAR" property="originJson" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, src_id, src_app, src_user, msg_title, msg_content, target_user, send_time, view_status, 
    msg_type, relate_link, origin_json, create_time
  </sql>

    <!--    TODO: MySQL Only-->
    <insert id="insertIgnore">
        insert ignore into user_inbox (id, src_id, src_app, msg_title, msg_content, target_user,
        send_time, view_status, msg_type, relate_link, origin_json)
        values
        <foreach collection="msgs" item="msg" separator=",">
            (#{msg.id}, #{msg.srcId}, #{msg.srcApp}, #{msg.msgTitle}, #{msg.msgContent}, #{msg.targetUser},
            #{msg.sendTime}, #{msg.viewStatus}, #{msg.msgType}, #{msg.relateLink}, #{msg.originJson})
        </foreach>
    </insert>

    <select id="query" resultType="com.hbcy.authcenter.api.modules.minor.inbox.dto.UserInboxDTO">
        select id,
        msg_title,
        msg_content,
        send_time,
        view_status,
        msg_type,
        relate_link
        from user_inbox
        <where>
            target_user = #{vo.userId}
            <if test="vo.keyword != null and vo.keyword != ''">
                and msg_title like concat('%', #{vo.keyword}, '%')
            </if>
            <if test="vo.msgType != null">
                and msg_type = #{vo.msgType}
            </if>
            <if test="vo.viewStatus != null">
                and view_status = #{vo.viewStatus}
            </if>
            <if test="vo.sendTimeStart != null">
                and send_time &gt;= #{vo.sendTimeStart}
            </if>
            <if test="vo.sendTimeEnd != null">
                and #{vo.sendTimeEnd} &gt;= send_time
            </if>
            <if test="vo.srcApp != null">
                and src_app = #{vo.srcApp}
            </if>
        </where>
        order by id desc
    </select>
</mapper>