<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbcy.authcenter.api.modules.intgr.oa.dao.OaSyncMapper">
    <update id="batchUpdateOrg">
        <foreach collection="toUpdate" item="item" separator=";" open="" close="">
            update portal_auth_center.org_tree
            set short_name=#{item.shortName},
            node_type=#{item.nodeType},
            exist_type=#{item.existType},
            node_category=#{item.nodeCategory},
            parent_id=#{item.parentId},
            id_path=#{item.idPath},
            show_order=#{item.showOrder},
            relate_id=#{item.relateId},
            update_time=#{item.updateTime},
            update_user='0'
            where id = #{item.id}
        </foreach>
    </update>

    <insert id="batchInsertOrg">
        insert into portal_auth_center.org_tree(id, node_name, short_name, node_type, exist_type, node_category,
        parent_id,
        id_path, show_order, tenant_id, relate_id, create_user,
        update_user) values
        <foreach collection="toInsert" item="item" separator="," open="" close="">
            (#{item.id}, #{item.nodeName}, #{item.shortName}, #{item.nodeType}, #{item.existType}, #{item.nodeCategory},
            #{item.parentId},
            #{item.idPath}, #{item.showOrder}, #{item.tenantId}, #{item.relateId}, '0', '0')
        </foreach>
    </insert>

    <update id="fillSourceId">
        <foreach collection="missIdUsers" item="u" open="" close="" separator=";">
            update portal_auth_center.sys_user
            set src_type=1,
            src_id=#{u.srcId}
            where id = #{u.id}
        </foreach>
    </update>

    <select id="listUserPhone" resultType="com.hbcy.common.web.api.NamedId">
        select id as item_id, phone as item_name
        from portal_auth_center.sys_user
        where tenant_id = #{tenantId}
        and delete_time = 0
    </select>

    <insert id="upsertUserOrgs">
        insert ignore into portal_auth_center.user_org(id, user_id, org_id, node_id, tenant_id, main_job, create_user,
        update_user, update_time)
        values
        <foreach collection="userOrgs" item="uo" separator="," open="" close="">
            (#{uo.id}, #{uo.userId}, #{uo.orgId}, #{uo.nodeId}, #{uo.tenantId}, #{uo.mainJob}, '0', '0',
            #{uo.updateTime})
        </foreach>
        on duplicate key update main_job=values(main_job),
        update_user = '0',
        update_time = values(update_time)
    </insert>

    <select id="listOaUsers" resultType="com.hbcy.authcenter.api.modules.core.user.model.User">
        select id, phone, account, real_name, email, src_id
        from portal_auth_center.sys_user
        where tenant_id = #{tenantId} and src_type=1
    </select>

    <select id="fetchUserOrgs" resultType="com.hbcy.authcenter.api.modules.core.user.model.UserOrg">
        select distinct user_id, org_id from user_org where user_id in
        <foreach item="id" collection="toUpdateIds" separator="," close=")" open="(">
            #{id}
        </foreach>
    </select>

    <select id="ensureIds" resultType="java.lang.String">
        select id
        from sys_user
        where id in
        <foreach item="id" collection="newIds" separator="," close=")" open="(">
            #{id}
        </foreach>
    </select>
</mapper>