<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbcy.authcenter.api.modules.sys.dict.dao.SysDictMapper">
    <resultMap id="BaseResultMap" type="com.hbcy.authcenter.api.modules.sys.dict.model.SysDict">
        <!--@mbg.generated-->
        <!--@Table sys_dict-->
        <id column="id" jdbcType="CHAR" property="id"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="feat_code" jdbcType="VARCHAR" property="featCode"/>
        <result column="value_str" jdbcType="VARCHAR" property="valueStr"/>
        <result column="value_cn" jdbcType="VARCHAR" property="valueCn"/>
        <result column="dict_type" jdbcType="TINYINT" property="dictType"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="id_path" jdbcType="VARCHAR" property="idPath"/>
        <result column="show_order" jdbcType="INTEGER" property="showOrder"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="forbidden" jdbcType="TINYINT" property="forbidden"/>
        <result column="create_user" jdbcType="CHAR" property="createUser"/>
        <result column="update_user" jdbcType="CHAR" property="updateUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="delete_time" jdbcType="BIGINT" property="deleteTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        app_id,
        feat_code,
        value_str,
        value_cn,
        dict_type,
        parent_id,
        id_path,
        show_order,
        memo,
        forbidden,
        create_user,
        update_user,
        create_time,
        update_time,
        delete_time
    </sql>

    <select id="selectChildrenRecursively" resultMap="BaseResultMap">
        WITH RECURSIVE recursive_dict AS (
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_dict
        WHERE parent_id = #{parentId}
        UNION ALL
        SELECT sd.*
        FROM sys_dict sd
        INNER JOIN recursive_dict rd ON sd.parent_id = rd.id
        )
        SELECT
        <include refid="Base_Column_List"/>
        FROM recursive_dict
        where forbidden = 0
        and delete_time = 0
    </select>

    <insert id="append">
        insert into sys_dict (id, app_id, feat_code, value_str, value_cn, dict_type, parent_id, id_path,
        forbidden, create_user, update_user, show_order)
        select #{dict.id},
        #{dict.appId},
        #{dict.featCode},
        #{dict.valueStr},
        #{dict.valueCn},
        #{dict.dictType},
        #{dict.parentId},
        #{dict.idPath},
        #{dict.forbidden},
        #{dict.createUser},
        #{dict.createUser},
        (SELECT COALESCE(MAX(show_order), 0) + 1
        from sys_dict
        where parent_id = #{dict.parentId})
    </insert>

    <update id="updateIdPath">
        update sys_dict
        set id_path = replace(id_path, #{oldPath}, #{newPath})
        where id_path like concat(#{oldPath}, '%')
        and delete_time = 0
    </update>

    <update id="updateShowOrder">
        update sys_dict
        set show_order = show_order + 1
        where parent_id = #{parentId}
        and show_order >= #{targetIdx}
        and delete_time = 0
    </update>
</mapper>