<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hbcy.authcenter.api.modules.core.org.dao.OrgTreeMapper">
    <resultMap id="BaseResultMap" type="com.hbcy.authcenter.api.modules.core.org.model.OrgTree">
        <!--@mbg.generated-->
        <!--@Table org_tree-->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="node_name" jdbcType="VARCHAR" property="nodeName"/>
        <result column="short_name" jdbcType="VARCHAR" property="shortName"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
        <result column="node_type" jdbcType="TINYINT" property="nodeType"/>
        <result column="exist_type" jdbcType="TINYINT" property="existType"/>
        <result column="node_category" jdbcType="TINYINT" property="nodeCategory"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="id_path" jdbcType="VARCHAR" property="idPath"/>
        <result column="show_order" jdbcType="INTEGER" property="showOrder"/>
        <result column="forbidden" jdbcType="TINYINT" property="forbidden"/>
        <result column="tenant_id" jdbcType="VARCHAR" property="tenantId"/>
        <result column="relate_id" jdbcType="VARCHAR" property="relateId"/>
        <result column="delete_time" jdbcType="BIGINT" property="deleteTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_user" jdbcType="CHAR" property="createUser"/>
        <result column="update_user" jdbcType="CHAR" property="updateUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        node_name,
        short_name,
        memo,
        node_type,
        exist_type,
        node_category,
        parent_id,
        id_path,
        show_order,
        forbidden,
        tenant_id,
        relate_id,
        delete_time,
        create_time,
        update_time,
        create_user,
        update_user
    </sql>

    <select id="listChildren" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from org_tree
        <where>
            tenant_id = #{tenantId}
            and id_path like concat(#{parentIdPath}, '%')
            and delete_time = 0
            <if test="vo != null">
                <if test="vo.nodeType != null">
                    and node_type = #{vo.nodeType}
                </if>
                <if test="vo.nodeCategory != null">
                    and node_category = #{vo.nodeCategory}
                </if>
                <if test="vo.forbidden != null">
                    and forbidden = #{vo.forbidden}
                </if>
                <if test="vo.keyword != null">
                    and (node_name like concat('%', #{vo.keyword}, '%')
                    or short_name like concat('%', #{vo.keyword}, '%'))
                </if>
            </if>
        </where>
    </select>

    <insert id="append">
        insert into org_tree (id, node_name, short_name, node_type, node_category, parent_id, id_path, tenant_id,
        create_user, update_user, show_order)
        select #{entity.id},
        #{entity.nodeName},
        #{entity.shortName},
        #{entity.nodeType},
        #{entity.nodeCategory},
        #{entity.parentId},
        #{entity.idPath},
        #{entity.tenantId},
        #{entity.createUser},
        #{entity.updateUser},
        (SELECT COALESCE(MAX(show_order), 0) + 1 from org_tree where parent_id = #{entity.parentId})
    </insert>

    <update id="updateIdPath">
        update org_tree
        set id_path = replace(id_path, #{oldPath}, #{newPath})
        where tenant_id = #{tenantId}
        and id_path like concat(#{oldPath}, '%')
        and delete_time = 0
    </update>

    <update id="updateShowOrder">
        update org_tree
        set show_order = show_order + 1
        where tenant_id = #{tenantId}
        and parent_id = #{parentId}
        and show_order &gt;= #{targetIdx}
        and delete_time = 0
    </update>

    <select id="selectMaxId" resultType="java.lang.String">
        select max(id)
        from org_tree
        where parent_id = #{parentId}
        and node_type = #{nodeType}
    </select>

    <select id="selectNameById" resultType="java.lang.String">
        select node_name
        from org_tree
        where id = #{orgId}
    </select>

    <select id="selectNameByIds" resultType="com.hbcy.common.web.api.NamedId">
        select id as item_id,
        <trim suffixOverrides=",">
            <choose>
                <when test="useFullName">
                    node_name as item_name,
                </when>
                <otherwise>
                    short_name as item_name,
                </otherwise>
            </choose>
        </trim>
        from org_tree
        <where>
            id in
            <foreach item="item" collection="orgIds" separator="," close=")" open="(" index="">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="getChildMaxShowOrder" resultType="int">
        select COALESCE(MAX(show_order), 0)
        from org_tree
        where parent_id = #{parentId}
        and tenant_id = #{tenantId}
        and delete_time = 0
    </select>
</mapper>